- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section
      %h1
        = gravatar_for @user
        = @user.name
  .col-md-8
    - if @user.snapshots.any?
      %h3
        Snapshots #{@user.snapshots.count}
      %ol.snapshots
        = render @snapshots
      = will_paginate @snapshots